/*-------------------------------*/
/* BASIC SETUP */
/*-------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus,
textarea:focus,
.btn:focus {
  outline: none;
}

html {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: rgb(202, 202, 202);
}

/*-------------------------------*/
/* RESUABLE COMPONENTS */
/*-------------------------------*/
/*--- BUTTON ---*/
.btn {
  color: #fff;
  width: 80px;
  border-radius: 5px;
  padding: 5px 0;
  margin-bottom: 7px;
}

.btn-add {
  background-color: #3498db;
}

.btn-update {
  display: block;
  background-color: #16a085;
  margin-right: 5px;
  transition: background-color 0.3s;
  position: fixed;
  top: 160px;
  right: 15px;
  z-index: 9999;
}

.btn-delete,
.btn-detail {
  position: absolute;
  top: -2px;
  font-size: 140%;
  vertical-align: middle;
  margin: 0 20px 5px 0;
}

.btn-delete {
  color: #e95a4b;
  right: 40px;
}

.btn-detail {
  color: #bdc3c7;
  right: 0;
}

.btn-update:hover,
.btn-update:active {
  background-color: #12826c;
  box-shadow: 0 0 3px rgb(214, 214, 214);
}

/*-------------------------------*/
/* MAIN */
/*-------------------------------*/

.todo-wrapper {
  min-height: 98vh;
  width: 98%;
  margin: 1%;
  padding: 25px 0;
  text-align: center;
  border-radius: 15px;
  background-color: rgb(253, 253, 253);
  box-shadow: 0 0 10px rgb(179, 179, 179);
}

.title {
  font-size: 200%;
  text-align: center;
  margin-bottom: 20px;
}

/*--- ADD_TODO_BOX ---*/
.add_todo_box {
  padding-bottom: 60px;
  border-bottom: 1px solid rgb(225, 225, 225);
  margin-bottom: 40px;
}

#added-todo {
  width: 250px;
  height: 35px;
  margin-right: 30px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(225, 225, 225);
  background-color: rgb(253, 253, 253);
}

/*---TODOS_BOX ---*/
.todos_box {
  margin-left: 25px;
}

.todo-item {
  position: relative;
  display: block;
  text-align: left;
  list-style: none;
  border-bottom: 1px solid rgb(225, 225, 225);
  padding: 1px;
  margin-bottom: 25px;
}

.todo-item input {
  padding: 0;
  width: 60%;
  border: none;
  border-radius: 0%;
  font-size: 100%;
  font-weight: 300;
  background-color: rgb(253, 253, 253);
}

/*-------------------------------*/
/* MODAL */
/*-------------------------------*/
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translate(-50%);
  height: 100vh;
  background-color: rgb(245, 245, 245);
  box-shadow: 0 0 8px rgb(177, 177, 177);
  border-radius: 15px;
}

.modal-header {
  padding: 20px;
  margin-bottom: 30px;
  background-color: #fff;
  position: relative;
}

.modal-header div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgb(59, 59, 59);
}

.detail {
  background-color: rgb(245, 245, 245);
  margin: 0 auto 20px auto;
}

#title,
#memo,
#reminder {
  border: none;
  font-size: 100%;
  font-weight: 300;
  padding: 5px 15px;
}

#title {
  width: 100%;
  height: 100%;
}

#reminder {
  background-color: #fff;
  width: 100%;
  height: 150px;
}

#memo {
  max-width: 100%;
  min-width: 100%;
  max-height: 130px;
  min-height: 130px;
}

.close,
.unchangeble,
.changeble {
  position: absolute;
  left: 90%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.unchangeble {
  color: #aaa;
}

.changeble {
  color: #2980b9;
  font-weight: 400;
  cursor: pointer;
}
