/*-------------------------------*/
/* BASIC SETUP */
/*-------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: rgb(19, 19, 19);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./img/list_back.jpg);
  background-size: cover;
  background-position: center;
}

input:focus,
button:focus {
  outline: none;
}

button {
  border: none;
  background: none;
}

/*-------------------------------*/
/* TOP PART */
/*-------------------------------*/
.top {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overview {
  color: #ecf0f1;
}

.overview__title {
  font-size: 200%;
}

.overview__total,
.overview__comp,
.overview__uncomp {
  font-size: 130%;
}

/*-------------------------------*/
/* BOTTOM PART */
/*-------------------------------*/
.bottom {
  height: 75vh;
}

.btn {
  padding: 10px;
  border-bottom: 1px solid #ecf0f1;
  margin-bottom: 30px;
}

.btn__container {
  width: 50%;
  margin: 0 25%;

  display: flex;
  justify-content: flex-end;
}

.btn__done {
  font-size: 130%;
  color: #3498db;
  text-transform: uppercase;
  cursor: pointer;
}

.todos {
  width: 95%;
  margin: 40px 0 40px 5%;

  display: flex;
  justify-content: center;
}

.todos__list {
  flex: 1;
}

.item,
.next,
.blank {
  list-style: none;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
}

.item__done,
.item__add {
  flex: 0 0 10%;

  display: flex;
  justify-content: center;
}

.item__done--btn,
.item__add--btn {
  width: 30px;
  height: 30px;
  border: 1px solid #ecf0f1;
  border-radius: 50%;
  cursor: pointer;
}

.complete {
  background-color: #e74c3c;
}

.item__container {
  flex: 0 0 90%;
  padding: 5px 10px;
  border-bottom: 1px solid #ecf0f1;

  display: flex;
}

.item__description {
  flex: 0 0 90%;
  border: none;
  background: none;
  font-size: 110%;
  font-weight: 300;
  color: #ecf0f1;
}

.item__delete {
  flex: 0 0 10%;

  display: flex;
  align-items: center;
}

.item__delete--btn {
  cursor: pointer;
}

.item--delete--icon {
  font-size: 30px;
  font-weight: 100;
  color: #e74c3c;
}

.item__add--icon {
  color: #ecf0f1;
}

.blank__left {
  flex: 0 0 10%;
}
.blank__container {
  border-bottom: 1px solid #ecf0f1;
  flex: 1;
}
